---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b831186&hashkey=97fd080d60bd5113682e7434d2ef7dce12a3ff57&ip=109.235.143.113&locale=de&offer_types=112&os_version=6.0&page=1&pub0=&timestamp=1395497228&uid=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - f11d4b3a744d47c3fb18a0ba73545e767e3b8d9b
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - '"095ca56829538df1c1cb0e506caf4e63"'
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=1"},"offers":[]}'
  recorded_at: Sat, 22 Mar 2014 14:07:09 GMT
recorded_with: VCR 2.8.0
