<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3"
    ng-show="loaded === true && offers.length > 0">
    <li ng-repeat="offer in offers">
        <div class="offer">
            <div class="title"><h2><small>{{offer.title}}</small><h2></div>
            <div class="payout">{{offer.payout}}</div>
            <div class="thumbnail">
                <img ng-src="{{offer.thumbnail.hires}}" />
            </div>
        </div>
    </li>
</ul>

<div class="no_offers text-center" ng-show="loaded === true && offers.length === 0">
    No offers
</div>