<div class="row">
    <div class="small-12 columns">
        <div class="panel form-wrapper">

            <form name="requestform" novalidate>
                <div class="row">
                    <div class="large-3 columns error">
                        <input type="text" name="uid" placeholder="uid" autofocus />
                    </div>
                    <div class="large-3 columns">
                        <input type="text" name="pub0" placeholder="pub0" />
                    </div>
                    <div class="large-3 columns">
                        <input type="text" name="page" placeholder="page" />
                    </div>
                    <div class="large-3 columns">
                        <input type="submit" class="button postfix large-4 columns" value="Load" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>